:root {
  /* bg color */
  --base: #eff1f5;
  --crust: #dce0e8;
  --mantle: #e6e9ef;

  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;

  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --overlay2: #7c7f93;

  /* typography */
  --text: #212427;
  --subtext0: #212427;
  --subtext1: #212427;
  --textoverlay1: #212427;

  /* colors */
  --rosewater: #FF777A;
  --flamingo: #FF5157;
  --pink: #F64F9F;
  --mauve: #A650A7;
  --red: #FE5258;
  --maroon: #FF777A;
  --peach: #F7811C;
  --yellow: #FFC700;
  --green: #63B947;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #0679FF;
  --lavender: #B874BA;

  /* links */
  --link-same-page: var(--blue);
  --link-same-page-visited: var(--text);

  --link-same-domain: var(--blue);
  --link-same-domain-visited: var(--text);

  --link-external: var(--flamingo);
  --link-external-visited: var(--pink);

  --link-hover: var(--blue);

  /* shapes */
  --border-radius: 5px;
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3Cpath fill='rgba(0,0,0,0.7)' fill-rule='nonzero' d='M1.5 2L3 0H0z'/%3E%3C/svg%3E");
}

.nib{
    fill:#f2d8b8;
}
.blade{
    fill:#e6e9ef;
}
.pen{
    fill:#a27c91;
}
.j{
    stroke-width:.5px;
}
.j,.k{
    stroke:#000;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.j,.k,.l{
    fill:none;
}
.handle{
    fill:#91a28c;
}
.n{
    clip-path:url(#e);
}
.o{
    clip-path:url(#f);
}
.p{
    fill:#000102;
}
.ring{
    fill:#000;
}

