{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- std -->
    <title>{{ template "title" . }}</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/icons/favicon-16x16.png"
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#1e2030;" />

    <!-- CSS for users with dark mode -->
    <link
      rel="stylesheet"
      href="/static/css/themes/macchiato.css"
      media="(prefers-color-scheme: no-preference), (prefers-color-scheme: dark)"
    />

    <!-- CSS for users without dark mode -->
    <link
      rel="stylesheet"
      href="/static/css/themes/latte.css"
      media="(prefers-color-scheme: light)"
    />

    <link rel="stylesheet" href="/static/css/index.css" />

    <script type="text/javascript" src="/static/js/base.js"></script>

    <script src="/static/js/htmx.js" defer></script>
  </head>

  <body>
    <header>
      <div
        style="display: flex; justify-content: space-between; align-items: end"
      >
        <h1 style="display: inline-block"><a href="/">recipes.db</a></h1>
        <div style="display: flex; flex-direction: column">
          <label
            style="margin-left: 0.2em; font-size: 0.8rem"
            for="theme-select"
            >Theme</label
          >
          <select id="theme-select" onchange="setTheme(this.value)">
            <option selected value="/static/css/themes/latte.css">latte</option>
            <option value="/static/css/themes/frappe.css">frappe</option>
            <option value="/static/css/themes/macchiato.css">macchiato</option>
            <option value="/static/css/themes/mocha.css">mocha</option>
          </select>
        </div>
      </div>

      {{ template "nav" . }}
    </header>

    <hr />

    <main>
      <article>{{ template "content" . }}</article>
    </main>

    <hr />
    <footer>
      <p>Food ❤️</p>
      <nav>
        <ul style="justify-content: center; margin-top: 0.2em">
          <li>
            <a
              target="_blank"
              rel="”noopener"
              noreferrer”
              href="https://github.com/arpachuilo/go-recipes"
              >github.com</a
            >
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
{{ end }}
