{{ define "title" }}{{ .Title }}{{ end }} {{ define "content" }}
<h1>Search Recipes</h1>
<form id="filter" autocomplete="off" action="/" method="get">
  <div style="display: flex">
    <input
      id="search"
      name="search"
      value="{{ .Search }}"
      type="search"
      placeholder="search recipes"
      autocapitalize="off"
      role="presentation"
      autocomplete="off"
      autocorrect="off"
      spellcheck="false"
      hx-get="/"
      hx-trigger="keyup changed delay:467ms"
      hx-target="#search-results"
      hx-push-url="true"
      hx-include="[name='tags'], [name='limit']"
    />
    <input type="submit" value="🔍" style="margin-left: 0.5rem" />

    <script type="text/javascript" src="/static/js/search.js"></script>
    <script>
      window.slashToFocus(document.getElementById("search"));
    </script>
  </div>

  <style>
    figure {
      transition: opacity 333ms ease-out;
    }
    figure.htmx-added {
      opacity: 0;
    }

    figure.htmx-swapping {
      opacity: 0;
    }
  </style>

  <div class="chip-container">
    {{ $st := .SelectedTags }} {{ range $i, $t := .PossibleTags }}
    <div class="chip">
      <input
        {{
        if
        hasTag
        $t
        $st
        }}
        checked
        {{
        end
        }}
        class="chip"
        id="tag-{{ $i }}"
        type="checkbox"
        name="tags"
        value="{{ $t.Tag.String }}"
        hx-get="/"
        hx-trigger="click"
        hx-target="#search-results"
        hx-push-url="true"
        hx-include="[name='tags'], [name='search'], [name='limit']"
      />
      <label for="tag-{{ $i }}" class="chip"> {{ $t.Tag.String }} </label>
    </div>
    {{ end }}
  </div>

  <div id="search-results" class="figure-grid">{{ template "fragment" . }}</div>
</form>
{{ end }}
